body {
  background-color: #f5f6f6 !important;
}

.bg-main-red {
  background-color: #ff4e00;
}
.bg-main-gray {
  background-color: #979797;
}
.bg-main-yellow {
  background-color: #f7df1e;
}
.bg-main-blue {
  background-color: #3481ef;
}